$white: #ffffff !default;
$black: #000000 !default;
$black1 : rgba(0, 0, 0, 0.6);
$green00: #62950b !default;
$green01: #85c021 !default;
$green02: #93d721 !default;
$green03: #b1ef48 !default;
$green04: #cbff72 !default;
$green05: #e8ffc1 !default;
$green06: #f4ffe2 !default;
$green07: #006832 !default;
$green08: #148148 !default;
$green09: #46ae78 !default;
$green10: #6fd6a0 !default;
$green11: #8ceebb !default;
$green12: #b3fcd6 !default;
$green13: #e0ffef !default;
$green14: #abef39 !default;
$green15: #5ed451 !default;
