.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

.right {
  width: 70%;
  background-color: #8d6e63;
}

.other_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.other_btn {
  cursor: pointer;
  &:hover {
    color: #0277bd;
  }
}
